[flake8]
ignore =
# C901,  # function is too complex. Ignored because max-complexity is set.
  D100,
  # Missing docstring in public module.
  D101,
  # Missing docstring in public class.
  D102,
  # Missing docstring in public method.
  D103,
  # Missing docstring in public function.
  D104,
  # Missing docstring in public package.
  D105,
  # Missing docstring in magic method.
  D107,
  # Missing docstring in __init__.
  D205,
  # 1 blank line required between summary line and description.
  D400,
  # First line should end with a period.
  E203,
  # whitespace before ':'. Conflicts with how Black formats slicing.
  E231,
  # missing whitespace after ',', ';', or ':'. Conflicts with Black.
  E266,
  # too many leading '#' for block comment.
  E402,
  # module level import not at top of file.
  E501,
  # line too long (82 > 79 characters). Ignored because max-line-length is set.
  F841,
  # local variable is assigned to but never used.
  I100,
  # Import statements are in the wrong order.
  I201,
  # Missing newline between import groups.
  I202,
  # Additional newline in a group of imports.
  W503
  # line break before binary operator. This is no longer PEP 8 compliant.

exclude =
    .cache,
    .coverage.*,
    .env,
    .git,
    .github,
    .gradle,
    .hg,
    .mypy_cache,
    .pytest_cache,
    .svn,
    .tox,
    .venv,
    .vscode,
    *__pycache__,
    *.egg-info,
    *.pyc,
    build,
    dist,
    htmlcov.*,

# List of application-specific import names.
application-import-names = flake8
# Import statement format style.
import-order-style = google
# The maximum McCabe complexity allowed.
max-complexity = 18
# The maximum allowed line length.
max-line-length = 120
# per-file-ignores =  # Per-file-ignores setting can be used to ignore specific errors in specific files.
